<form name="contact" class="contact-form width-normal" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSe6qBFMp77tPY00Kka4oksFozm967m0DQ4hzUQ2IFsLCk8eBQ/formResponse" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact" />
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="Name"></label>
        <div class="col-md-4">
            <input id="entry.1907447294" name="Name" type="text" placeholder="Name" class="form-control input-md" required="" autocomplete="off">
        </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="Email"></label>
        <div class="col-md-4">
            <input id="entry.1638965632" name="Email" type="email" placeholder="Email Address" class="form-control input-md" required="" autocomplete="off">
        </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="Subject"></label>
        <div class="col-md-4">
            <input type="radio" id="entry.1628819319" name="Nunca" value="Nunca">
            <input type="radio" id="entry.1628819319" name="Siempre" value="Siempre">
        </div>
    </div>
    <!-- Button -->
    <div class="form-group">
        <button type="submit" value="Submit" id="Form-submit">Submit</button>
    </div>
</form>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe6qBFMp77tPY00Kka4oksFozm967m0DQ4hzUQ2IFsLCk8eBQ/viewform?embedded=true" width="640" height="788" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>